# Compiled class files
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# VS Code settings
.vscode/

# Eclipse project files
.project
.classpath
.settings/
bin/

# NetBeans project files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# IntelliJ project files
*.iml
.idea/
out/

# Maven / Gradle
target/
build/

# Temporary files
*.tmp
*.swp
*~
.DS_Store
Thumbs.db
